.console-flex {
  display: table;
  border-collapse: separate;
  border-spacing: 50px 0;
}
.console {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  color: white;
  display: table-header-group;
  overflow-y: auto;
  font-size: 13px;
  text-align: left;
  table-layout: fixed;
}
.welcome-message {
  padding-top: 5px;
}

.console > tr:first-of-type {
  padding-top: 5px;
  color: black;
}
.console th {
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 4px;
}

.console:not:first-child > :nth-child(1) {
  width: 20px;
}

.console tr > :nth-child(3) {
  width: auto;
}

.console::-webkit-scrollbar {
  width: 14px;
  border-radius: 25px;
}

.console::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}

.console::-webkit-scrollbar-thumb {
  border-radius: 90vh;
  background: #524eee;
}
.console::-webkit-scrollbar-track-piece {
  border-radius: 20px;
}
