.console {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
    font-size: 14px;

}

.console div {
    flex-shrink: 0;
    min-height: 0;
    padding: 2px;
    padding-left: 8px;
}

.console::-webkit-scrollbar {
    width: 20px;
    border-radius: 25px;
}

.console::-webkit-scrollbar-track {
    background: black;
    border-radius: 25px;
}

.console::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: rgba(108, 0, 180, 1);
}
.console::-webkit-scrollbar-track-piece {
    border-radius: 25px;
}