.mainModalBackground {
    width: 100%;
    height: 565px;
    margin-top: 550px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
    z-index: 100;
  }
  
  .mainModalContainer { 
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  
  .mainModalContainer .title {
    display: flex;
    text-align: top;
    font-size: 8px;
    padding-left: 8px;
  }

  .mainTitleCloseBtn {
    height: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .mainTitleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .mainModalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .mainModalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainModalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .main-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    height: 40px;
  }

  .mainModalButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mainModalButtons span {
    font-size: 11.5px;
    font-weight: 200;
  }

  .mainModalButtons button {
    cursor: pointer;
    background-color: white;
    height: 20px;
  }
  .mainModalButtons > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-stream-list {
    height: 290px;
    width: 600px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    display: table-header-group;
    table-layout: fixed;
    overflow-y: auto;
    border-collapse: separate;
    border-spacing: 10px;

    
  }