.modalBackground {
    width: 700px;
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
  
  .modalContainer { 
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 12px;
  }
  
  .modalContainer .title {
    display: block;
    text-align: center;
    padding-right: 185px;
    font-size: 12px;
  }
  
  .titleCloseBtn {
    height: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .top {
    display: flex;
    flex-direction: row-reverse;
  }

  .modalButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .modalButtons button {
    cursor: pointer;
  }