
.sidebar-item {
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    text-align: left;
    flex-shrink: 1;
}

.sidebar-item:not(:hover) {
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-item:hover .Active {
    background-color: rgba(82, 78, 238, 0.3);
}

.sidebar-item:not(:hover) .Active {
    background-color: rgba(82, 78, 238, 0.3);
}

.sidebar-title {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.sidebar-title span i {
    display: inline-block;
    width: 1.5em;
}

.sidebar-title .toggle-btn {
    cursor: pointer;
    transition: transform .3s;
}

.sidebar-item.open>.sidebar-title .toggle-btn {
    transform: rotate(180deg);
}

.sidebar-content {
    padding-top: .25em;
    height: 0;
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.sidebar-item.open>.sidebar-content {
    height: auto;
}

.sidebar-item.plain {
    color: black;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    display: flex;
    gap: 8px;
    padding: 0x 0px 6px 10px;
}

.sidebar-item.plain:nth-child(1) {
    padding-top: 10px;
}

.sidebar-item.plain:hover {
    cursor: pointer;
}

.sidebar-item.plain i {
    display: inline-block;
}

.Active {
    background: rgba(82, 78, 238, 0.3);
}