.voutputs {
    margin: 0;
    text-align: center;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    gap: 10px;
    border-width: 1px;
    width: 100%;
  }

.vbox1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border: 1px solid gray;
    min-width: 200px;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 320px;
    column-gap: 0px;
}

.voutputs output {
  width: 140px;
  height: 22px;
  border: 1px solid gray;
}